@charset "UTF-8";
body {
  background-size: 1920px auto;
  background-color: #3E3E3E;
  background: url("../img/jobbaextra_bg_web.jpg") no-repeat center top 170px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0); }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

a:focus {
  text-decoration: none;
  color: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

h1 {
  font-size: 40pt; }

h2 {
  text-transform: uppercase;
  color: #ffeec2;
  font-size: 30pt;
  font-weight: 100;
  margin: 0;
  -webkit-transition: font-size 0.3s ease;
  /* Safari */
  transition: font-size 0.3s ease; }

h4 {
  font-size: 1.2em;
  color: #ffeec2;
  font-weight: 100; }

.dropdown {
  background-color: rgba(30, 30, 30, 0.8);
  color: #ffeec2;
  width: 234px;
  border: none;
  margin-bottom: 10px;
  height: 30px;
  padding-left: 20px;
  /* Om man vill gömma den fula vita grejen i Firefox kan man ha denna */
  /*-moz-appearance: none;*/ }

.view {
  padding-top: 100px;
  min-height: 80vh; }

/* ################################# */
/* ########## START NAVBAR ######### */
nav {
  display: table;
  width: 100%;
  background-color: #242424;
  height: 175px;
  -webkit-transition: height 0.3s ease;
  /* Safari */
  transition: height 0.3s ease; }
  nav .headerLogo {
    float: left;
    margin: 25px 25px 25px 50px;
    display: table-cell;
    -webkit-transition: margin 0.3s ease;
    /* Safari */
    transition: margin 0.3s ease; }
    nav .headerLogo img {
      height: 85px; }
  nav .navLinks {
    text-transform: uppercase;
    text-align: center;
    background-color: #2f2f2f;
    width: 100%;
    margin-top: 135px;
    -webkit-transition: height 0.3s ease;
    /* Safari */
    transition: height 0.3s ease; }
  nav ul.nav {
    color: #ffeec2;
    text-transform: uppercase;
    margin: 0;
    display: flex; }
    nav ul.nav a {
      border-top: solid 1px transparent;
      -webkit-transition: border-top 0.5s ease;
      /* Safari */
      transition: border-top 0.5s ease; }
    nav ul.nav a:hover {
      border-top: solid 1.5px #ff6e3f;
      background-color: #242424 !important; }
  nav #hamburgerIcon {
    display: none;
    cursor: pointer; }

/* ########## END NAVBAR ######### */
/* ############################### */
.searchBar {
  /*margin-top: 100px;*/
  width: 400px; }

.searchBar.searchPage {
  width: 100%;
  max-width: 700px; }

#orangeBG.searchPage {
  width: 85.71428571428571%;
  height: 70px;
  border-radius: 3px; }

.jobSearchForm.searchPage {
  height: 62px;
  font-size: 28px;
  line-height: 62px;
  width: 75%;
  border-radius: 3px;
  text-indent: 10px; }

.searchButton {
  cursor: pointer; }

.searchButton.searchPage {
  position: absolute;
  height: 70px;
  font-size: 30px;
  margin-left: -62px;
  width: 100px;
  float: none; }

#searchBarIcon.searchPage {
  position: relative;
  top: 25px;
  left: -80%; }

.filterButtons {
  display: table;
  width: 100%; }

.searchButton.resetFilters {
  background-color: #DF582D;
  width: 8%;
  min-width: 30px;
  height: 40px;
  margin: 0;
  margin-right: 15%;
  display: table-cell;
  font-size: 130%;
  float: right;
  padding-top: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.resetFiltersAnimation {
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 4px;
  height: 30px;
  -webkit-transition: 0.3s ease;
  /* Safari */
  transition: 0.3s ease; }

.filterButton.searchButton {
  position: relative;
  display: inline-block;
  padding-top: 8px;
  height: 40px;
  line-height: 16px;
  font-size: 16px;
  margin: 0;
  background-color: #DF582D;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-box-shadow: inset 0 5px 10px -5px #000000;
  -webkit-box-shadow: inset 0 5px 10px -5px #000000;
  box-shadow: inset 0 5px 10px -5px #000000;
  /*-webkit-transition: 0.3s ease; /* Safari */
  /*transition: 0.3s ease;*/ }

.filterButton.searchButton span {
  font-size: 10px;
  top: -15px; }

.filterButton.searchButton p {
  margin: 0; }

.filters {
  display: inline-table;
  background-color: #303030;
  width: 90%;
  color: #FFEEC2;
  margin-left: 5%;
  padding-top: 0;
  height: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
  float: left;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease; }

.searchFilter {
  background-color: rgba(221, 86, 37, 0.8);
  display: table-cell;
  float: left;
  width: 171px;
  margin: 0px 4px;
  height: 0px;
  padding: 0;
  padding-left: 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  /* Safari */
  transition: 0.3s ease;
  /* Om man vill gömma den fula vita grejen i Firefox kan man ha denna */
  /*-moz-appearance: none;*/ }

.searchFilter:hover {
  background-color: rgba(255, 105, 51, 0.8); }

.searchFilterAnimation {
  margin-bottom: 8px;
  margin-right: 4px;
  padding-left: 15px;
  height: 30px;
  -webkit-transition: 0.3s ease;
  /* Safari */
  transition: 0.3s ease; }

.pageSelector {
  color: white;
  font-size: 14pt;
  /*position: absolute;*/
  /*bottom: 320px;*/
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px; }

.pageSelectorButton {
  background-color: #dd5625;
  border: none;
  padding: 15px;
  border-radius: 5px; }

.viewingPageNumber {
  margin-left: 10px;
  margin-right: 20px; }

.pageSelectorButton:disabled {
  background-color: #535353;
  color: #8A8A8A; }

.filtersAnimation {
  padding-top: 10px;
  -webkit-transition: 0.3s ease;
  /* Safari */
  transition: 0.3s ease; }

#orangeBG {
  background-color: #ff6e3f;
  width: 400px;
  height: 50px;
  border-radius: 50px; }

#searchBarIcon {
  background-image: url(../img/search_icon.png);
  position: relative;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  top: -35px;
  left: 15px;
  float: left; }

.jobSearchForm {
  text-align: left;
  height: 42px;
  width: 280px;
  float: left;
  font-family: Roboto;
  line-height: 42px;
  font-weight: 300;
  margin: 3px;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  padding-left: 40px;
  border: 0; }

.jobSearchForm:focus {
  outline-color: transparent;
  outline-style: none; }

.searchButton {
  width: 70px;
  height: 50px;
  margin-left: -5px;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: 700;
  color: #ffeec2;
  float: left; }

.searchButton:focus {
  outline-color: transparent;
  outline-style: none; }

#numSearchResults {
  float: left;
  display: inline-block;
  position: relative;
  opacity: 0;
  margin-top: 70px;
  margin-bottom: 30px;
  width: 100%; }

#numSearchResults h4 {
  display: inline;
  background-color: rgba(47, 47, 47, 0.65);
  height: 2.2em;
  padding: 0.4em;
  margin-top: 15px;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 1.7em;
  border-top: 0;
  color: #FFFFE6;
  margin: 0; }

.aboutInfo {
  color: #ffeec2;
  background-color: #242424;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 20px;
  padding: 20px; }

.aboutHeader {
  text-transform: none;
  font-weight: 400; }

.aboutDivider {
  width: 100%;
  border-color: #ff6e3f; }

/* ############### START LOADING ANIMATION ###############*/
.loadingAnimation {
  position: absolute;
  background-color: rgba(36, 36, 36, 0.8);
  width: 200px;
  height: 140px;
  border-radius: 10px;
  display: inline-block;
  margin-left: -98px; }

.spinner {
  position: relative;
  left: 74%;
  top: 23px; }

.spinner.job {
  position: relative;
  left: 65px;
  top: 35px; }

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #6e6e6e;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner-container div.lightBlue {
  background-color: #71CBD9; }

.spinner-container.job div {
  width: 15px;
  height: 15px; }

.spinner .spinner-container {
  position: absolute;
  width: 20px;
  height: 20px; }

.spinner .spinner-container.job {
  position: absolute;
  width: 70px;
  height: 70px; }

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.circle1 {
  top: 0;
  left: 0; }

.circle2 {
  top: 0;
  right: 0; }

.circle3 {
  right: 0;
  bottom: 0; }

.circle4 {
  left: 0;
  bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/* ############## END LOADING ANIMATION ##############*/
#splash {
  background-color: #ff6e3f;
  padding: 10px;
  width: 500px;
  vertical-align: middle;
  margin-top: 100px;
  -webkit-transition: height, width 0.3s;
  /* Safari */
  transition: height, width 0.3s;
  transition-timing-function: ease; }

#splashText {
  margin: 0; }

.infoBoxes {
  padding-top: 60px;
  width: 840px;
  margin-bottom: 100px;
  height: 400px; }

.infoBox {
  /*position: relative;*/
  padding: 40px;
  padding-top: 0px;
  width: 320px;
  background-color: #ffeec2;
  -webkit-transition: width 0.3s ease;
  /* Safari */
  transition: width 0.3s ease; }

.links {
  padding-top: 20px; }

#userInfo {
  float: left; }

#companyInfo {
  float: right; }

.infoTitle {
  font-family: 'Raleway';
  font-size: 32px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 25px;
  color: #71CBD9; }

/*.extraJobInfo{

}*/
.underlined {
  border-bottom: solid #ff6e3f 2px; }

.infoDescription {
  text-align: left;
  padding-top: 15px; }

.registerButtons {
  padding-top: 100px; }

.registerButton {
  border: 0;
  margin-bottom: 8px;
  background-color: #ff6e3f;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -webkit-transition: background-color 0.5s ease;
  /* Safari */
  transition: background-color 0.5s ease;
  border-radius: 45px;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 34px;
  height: 45px;
  width: 330px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: 'Raleway';
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffeec2; }

.registerButton:hover {
  background-color: #FF460A; }

#registerUser {
  /*float: left;*/ }

#registerCompany {
  /*float: right;*/ }

.alreadyJoined {
  color: #71CBD9;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 2em; }

.loginLink {
  font-family: 'Roboto';
  font-weight: 700;
  color: inherit;
  -webkit-transition: color 0.2s;
  /* Safari */
  transition: color 0.2s;
  transition-timing-function: ease;
  text-decoration: none;
  margin-left: 0.8em; }

.loginLink:hover {
  text-decoration: none;
  color: #44E6FF; }

.latestJobs {
  margin-top: 50px;
  min-height: 300px; }

#placeholder {
  font-size: 90px; }

footer {
  width: 100%;
  background-color: #202020;
  min-height: 300px; }

.footerContent {
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 800px; }

#footerLogo {
  height: 90px;
  width: auto;
  margin-top: 60px;
  margin-left: 315px;
  margin-right: auto; }
  #footerLogo img {
    width: 170px; }

#footerLinks {
  margin-top: 30px;
  padding-top: 20px;
  border-top: solid #2e2e2e 2px;
  display: table;
  text-transform: uppercase;
  color: #ffeec2;
  margin-left: auto;
  margin-right: auto; }

.footerLink {
  display: inline;
  padding: 10px 70px 10px 70px;
  -webkit-transition: padding 0.3s;
  /* Safari */
  transition: padding 0.3s;
  transition-timing-function: ease; }

#customSearch {
  background-color: #242424;
  height: 45px; }

#customSearchbar {
  background-color: rgba(30, 30, 30, 0.5);
  color: #FFEEC2;
  width: 55%;
  height: 35px;
  margin-top: 5px;
  margin-left: 3%;
  /*border-radius: 30px;*/
  border: none;
  text-align: center; }

#customSearchButton {
  width: 17%;
  background-color: #242424;
  border: 1px solid;
  color: #FF7519;
  height: 35px;
  margin-top: 5px;
  padding: 0px; }

#customFilterButton {
  width: 90px;
  background-color: #242424;
  border: none;
  color: #FF7519;
  height: 35px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px; }

#customFilterButton:focus {
  outline-color: transparent;
  outline-style: none; }

.jobBlock {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 45.5%;
  float: left;
  margin-left: 3%;
  /*margin-right:2.5%;*/
  margin-bottom: 20px;
  min-width: 300px;
  min-height: 120px;
  background-color: rgba(255, 110, 63, 0.95);
  color: #FFFFE6; }

.jobsContainer {
  margin-bottom: 30px; }

h4 small {
  color: #FFFFE6; }

.sidePicker {
  cursor: pointer;
  color: blue; }

.singleJob {
  width: 80%;
  max-width: 1000px;
  color: #E9DEBE;
  background-color: #ff6e3f;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 100px;*/
  border-top-right-radius: 31px;
  border-top-left-radius: 31px; }

.jobInfo {
  padding: 20px; }

.jobInfo h2 {
  padding-bottom: 10px; }

.moreInfo {
  padding: 30px;
  background-color: #BD4C27; }

.jobButtons {
  background-color: #2f2f2f;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px; }

.singleJobButton {
  background-color: transparent;
  border: none;
  color: #FFEEC2;
  width: 45%;
  height: 30px; }

.singleJobButton.save {
  border-left: 1px solid #FF6E3F; }

.singleJobButton.removeSaved {
  border-left: 1px solid #FF6E3F; }

.loginContainer {
  height: auto;
  padding-bottom: 15px;
  width: 300px;
  background-color: #242424; }

.loginInput {
  width: 80%;
  background-color: rgba(30, 30, 30, 0.8);
  border: none;
  margin-bottom: 10px;
  height: 30px;
  color: #ffeec2;
  padding-left: 20px;
  padding-right: 20px; }

.loginInput#loginSubmit {
  background-color: #FF6E3F;
  padding: 0px; }

.registerInput {
  width: 70%;
  background-color: rgba(30, 30, 30, 0.8);
  border: none;
  margin-bottom: 10px;
  height: 30px;
  color: #ffeec2;
  text-indent: 20px;
  padding-right: 10px; }

.verifiedInput {
  color: #219321; }

.registerInput#register {
  background-color: #FF6E3F;
  text-align: center;
  text-indent: 0;
  padding: 0px;
  margin-left: -20px;
  width: 70%; }

.registerInput#register:disabled {
  background-color: #535353;
  color: #323232; }

#registerSpinner {
  height: 14px;
  top: 5px;
  left: -38px; }

.validFeedback {
  margin-left: 10px; }

#loginHeader {
  padding-top: 10px;
  margin-bottom: 30px; }

.messageBox {
  background-color: rgba(36, 36, 36, 0.9);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  /*min-width:250px;*/
  color: #FFEEC2;
  margin-bottom: 30px; }

.registerText {
  color: #ffeec2;
  margin-top: 95px; }

.publishDate {
  position: absolute;
  bottom: 5px; }

.savedJobs {
  background-color: #242424;
  color: #FFEEC2;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 25px; }

.savedJob {
  text-align: left;
  margin-left: 10px; }

.removeSavedJob {
  padding-right: 5px;
  cursor: pointer;
  color: #c0301d; }

#splash.sideHeader {
  margin-top: 0px; }

#profileUsername {
  width: 80%;
  border-top: solid 2px rgba(47, 47, 47, 0.4);
  color: #ffeec2;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 5px; }

.loggedInHeader {
  background-color: #242424;
  color: #FFEEC2;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px; }

.logoutButton {
  background-color: #FF6E3F;
  color: #FFEEC2;
  border: none; }

.logoutButton.mediumSizeNav {
  display: none !important;
  /*position: relative;*/
  /*display: block;*/ }

/* #################################################### */
/* ############## START OF RESPONSIVENESS ############# */
/* #################################################### */
@media (max-width: 980px) {
  nav {
    height: 130px; }
  body {
    background-position: center top 156px; }
  .headerLogo {
    margin: 35px; }
  .navLink {
    display: block;
    padding-left: 5px;
    margin-left: 20px;
    border-left: solid 1.5px transparent;
    -webkit-transition: border-left 0.5s ease;
    /* Safari */
    transition: border-left 0.5s ease; }
  .navLink:hover {
    border-left: solid 1.5px #ff6e3f;
    border-bottom: solid 1px transparent; }
  .navLinks {
    position: relative;
    float: right;
    width: 250px;
    top: 0; }
  .linkBox {
    float: left;
    height: auto;
    padding-left: 0;
    padding-right: 35px; }
  .logoutButton.mediumSizeNav {
    display: block;
    /*position: relative;*/
    /*display: block;*/ }
  #splash {
    width: 400px; }
  #splashText {
    font-size: 2.5em; } }

@media (max-width: 878px) {
  /* Tablet-ish */
  .infoBoxes {
    width: inherit;
    height: 750px; }
  .infoTitle {
    padding-top: 25px; }
  #userInfo {
    float: none; }
  #companyInfo {
    float: none; }
  .footerLink {
    padding: 5px;
    display: block; }
  #placeholder {
    font-size: 40px; }
  .registerButton {
    margin-right: 0;
    margin-left: 0; }
  .registerButtons {
    /*width: inherit;*/
    padding-top: 20px; }
  #registerCompany {
    float: none; }
  .container {
    padding: 0; } }

@media (max-width: 685px) {
  .jobBlock {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    min-width: 250px; } }

@media (max-width: 503px) {
  /* Mobile */
  .view {
    padding-top: 50px; }
  .aboutInfo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px; }
  .aboutDivider {
    width: 90%; }
  #splash {
    width: 100%; }
  #orangeBG {
    width: 340px; }
  .searchBar {
    width: 340px; }
  #searchBarIcon {
    left: 18px; }
  .searchButton.searchPage {
    font-size: 26px; }
  .searchButton.searchPage.filterButton {
    font-size: 16px; }
  .jobSearchForm {
    width: 260px; }
  .spinner {
    left: 70%; }
  .dropdown.searchFilter {
    width: 46%;
    font-size: 12px; }
  .singleJob {
    width: 100%; }
  .singleJobButton {
    padding-left: 0;
    padding-right: 0; }
  body {
    background-position: center top 50px; }
  nav {
    height: 50px;
    /*position: fixed;*/
    z-index: 100; }
  .headerLogo {
    margin: 10px; }
  .headerLogo img {
    height: 30px; }
  #hamburgerIcon {
    display: inline;
    height: 30px;
    margin: 10px;
    float: right;
    /*background-image: url("../img/hamburger.png");*/ }
  .navLinks {
    /*display: none;*/
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 0;
    overflow: hidden; }
  .navLinksAnimation {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: auto; }
  .navLink {
    font-size: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .navLinkAnimation {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 1em;
    padding: 5px; }
  .linkBox {
    display: block;
    float: none;
    /*padding-top: 5px;*/ }
  #linksRow {
    text-align: left; } }

@media (max-width: 360px) {
  h2 {
    font-size: 25pt; }
  .jobInfo {
    padding: 10px; }
  .singleJobButton {
    font-size: 12px; }
  #orangeBG {
    width: 95%; }
  #orangeBG.searchPage {
    width: 100%; }
  .searchBar {
    width: 95%; }
  .dropdown.searchFilter {
    font-size: 12px; }
  #searchBarIcon {
    left: 18px; }
  .jobSearchForm {
    width: 75%; }
  .registerButton {
    width: 290px;
    font-size: 1.3em; } }
