.alert{
    font-size: 18px;

    &.alert-custom{
        background: $accent-color;
        color: $font-color-primary;
        padding-left: 2em;
    }
    
    &.alert-success{
        background: $success-color;
        border: $success-color-dark;
        color: white;
    }

    &.alert-top{
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-size: 16px;
        text-align: center;
        margin-bottom: 0;
    }

    &.alert-bottom{
        width: 100%;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        padding: 1rem;
        text-align: center;
        color: white;
        background: rgba($bg-color-primary, 0.9);
        z-index: 10;
        font-size: 1.4rem;

        > h1 {
            color: white;
            font-size: 3rem;
            margin: 0 0 1rem;
        }

        > button {
            max-width: 250px;
            margin: 1rem auto 0;
        }
    }
}