.alert{
    &.alert-custom{
        background: $accent-color;
        color: $font-color-primary;
        padding-left: 2em;
    }
    
    &.alert-success{
        background: $success-color;
        border: $success-color-dark;
        color: white;
    }
}