.btn{
    padding: 0;
    display: block;
    border-radius: 3px;
    border: 0;
    background-color: $accent-color;
    -webkit-transition: background-color 0.5s ease; /* Safari */
    transition: background-color 0.5s ease;
    height: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffeec2;
    width: 100%;

    &:hover{
        color: $font-color-primary;
        text-decoration: none;
    }

    &:focus{
        color: $font-color-primary;
    }

    &.btn-confirm{
        background: $success-color;

        &:hover{
            background: $success-color-dark;
        }
    }

    &.btn-sm{
        width: auto;
        height: auto;
        padding: 0.5rem 1rem;
        font-size: 1.2em;
    }

    &.btn-primary{
        background: $accent-color;

        &:hover{
            background: $accent-color-dark;
        }
    }
}

.share-buttons{
    a{
        display: inline-block;
        margin: 1rem;
        > img{
            height: 50px;
            width: 50px;
        }
    }
}