$bg-color-primary: #242424;
$bg-color-secondary: #696969;
$accent-color: #ff6e3f;
$accent-color-dark: #d45d36;
$accent-color-light: #ff794e;
$accent-color-secondary: #71CBD9;
$font-color-primary: #ffeec2;
$success-color: #55c04d;
$success-color-dark: #3f9f38;