.logo{

    .logo-job-block{
        height: 72px;
        width: 100%;
        padding-right: 0;
        text-align: right;
    }

    .logo-img{
        position: relative;
        display: block;
        max-width: 100%;
        height: 62px;
        margin: 5px 0 5px 0;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .logo-job{
        height: 80px;
        margin-bottom: 2rem;
        background-position: center;
    }

}

.required{
    color: #ff6e3f;
}