.panel{
    &.panel-custom{
        background: $bg-color-primary;
        color: $font-color-primary;
        border: none;

        .panel-heading{
            border-bottom: 1.5px solid $accent-color;
            text-align: center;
            padding: 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            .subheading{
                color: $accent-color-secondary;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        .well-custom{
            padding-top: 0;
            font-size: 1.1em;
            background: scale_color($bg-color-primary, $lightness: +10%);
            border: none;
        }
    }

    img{
        max-width: 100%;
    }
}