.panel{
    &.panel-custom{
        background: $bg-color-primary;
        color: $font-color-primary;

        .panel-heading{
            border-bottom: 1.5px solid $accent-color;
            text-align: center;
            padding: 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .well-custom{
            font-size: 1.1em;
            background: scale_color($bg-color-primary, $lightness: +10%);
            border: none;
        }
    }
}