.puff{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2rem 0;
    width: 100%;

    &.puff-featured{
        position: relative;
        top: 0;
        height: 120px;
        background: $accent-color;
        -webkit-box-shadow: 0 6px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
        -moz-box-shadow: 0 6px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
        box-shadow: 0 6px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
        -webkit-transition: box-shadow 0.1s, background 0.2s, top 0.1s;
        -moz-transition: box-shadow 0.1s, background 0.2s, top 0.1s;
        -ms-transition: box-shadow 0.1s, background 0.2s, top 0.1s;
        -o-transition: box-shadow 0.1s, background 0.2s, top 0.1s;
        transition: box-shadow 0.1s, background 0.2s, top 0.1s;

        .puff-heading{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-holder{
                height: 100px;
                padding: 10px;
                align-self: center;
                background: white;
                width: 100%;
            }
        }

        &:hover{
            cursor: pointer;
            background: $accent-color-light;
        }

        &:active{
            position: relative;
            top: 4px;
            background: $accent-color-dark;
            -webkit-box-shadow: 0 2px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
            -moz-box-shadow: 0 2px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
            box-shadow: 0 2px 0 $accent-color-dark, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3);
        }
    }

    .puff-heading{
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        font-size: 2.3rem;
        width: 100%;

        .subheading{
            color: $accent-color-secondary;
            padding-top: 1rem;
            text-transform: none;
            font-size: 1.5rem;
            font-style: italic;
        }

        .heading-img{
            height: 100px;
            padding: 10px;
            margin-top: -10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .puff-body{
        position: relative;
        padding: 0 1rem 2rem;
    }

    .puff-footer{
        position: relative;
        bottom: 0;
    }
}